@charset "UTF-8";

:root {
  /*Cores*/
  --cor-laranja: #f77f00;
  --cor-laranja-claro: #fcbf49;
  --cor-laranja-escuro: #8d4a0299;
  --cor-vermelho: #d62828;
  --cor-azul:#0892A5;
  --cor-azul-escuro: #003049;
  --cor-branco: #fff;
  --cor-preto: #000;

  /*Fontes*/
  --fonte-conteudo: verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--fonte-conteudo);
}

body {
  background-image: linear-gradient(
    to right,
    var(--cor-laranja-claro),
    var(--cor-laranja)
  );
  background-attachment: fixed;
  display: grid;
  place-content: center;
}

main {
  background-color: var(--cor-branco);

  margin: auto;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px var(--cor-laranja-escuro);
}

#article_principal {
  max-width: 800px;
  padding: 40px;
}

.imagem {
  width: 120px;
}

h1,
h2,
h3,
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  color: var(--cor-vermelho);
  text-align: center;
}

h2 {
  color: --cor-azul-escuro;
}

p {
  padding: 10px;
  text-align: justify;
}

.link {
  text-decoration: none;
  color:var(--cor-azul);
}

.link:hover,.link:active{color:var(--cor-vermelho);}