@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #0593A2, #103778);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

main {
    background-color: white;
    margin: 40px;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #232650a7;
}

h1 {
    color: #FF7A48;

}

.principal {
    text-align: center;
}

h2 {
    color: #0593A2;
}

h3 {
    color: #103778;
}

h4 {
    color: #151F30;
}

.quadrado {
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;

}

/*dives para os quadrados*/
#quadrado1:hover {
    background-color: #E3371E;

}

#quadrado2:hover {
    background-color: #08B2E3;

}

#quadrado3:hover {
    background-color: #3A3042;

}


/*div para o paragrafo*/
#hidtext:hover {
    color: #E3371E;
}

#hidtext>#ola {
    display: none;
    /*oculta o paragrafo*/
}

#hidtext:hover>#ola {
    display: block;
    background-color: white;
    color: #08B2E3;
}

/*Div para Imagem*/
#divimage>#modelo {
    display: none;
    /*oculta a imagem*/

}

#divimage:hover>#modelo {
    display: block;
   

}

/*links*/
.link{text-decoration:none;}
.link:visited{
 color:#F24333;   
}

.link:hover{color:#4F345A;
text-decoration:underline;}
.link:active{color:#F8BD7F;}

/*pseudo classes*/
/*Before*/

.simbolo_esquerdo::before{
  content:'';
  margin-left:4px;}

#seta::before{

    content:'\2666';
}

#star::before{content:'\2605';}

#phone::before{content:'\260E';}

#espada::before{content:'\2660';}

#heart::before{content:'\2665';}

/*after*/
.simbolo_direito::after{
  content:'';
  margin-left:4px;}

#infinity::after{content:'\221E';}
#integral::after{content:'\222D';}
#right::after{content:'\2713';}
#music::after{content:'\266A';}

.menu {
    border: 0px solid white;
    text-align: center;
    background-color: white;
    display: inline;
}
