@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #0593A2, #103778);
    font-family: verdana;
    text-align: justify;
}

main {
    background-color: white;
    margin: 40px;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #232650a7;
}

h1 {
    color: #FF7A48;

}

h2 {
    color: #0593A2;
}

h3 {
    color: #103778;
}

h4 {
    color: #151F30;
}


.menu {
    text-align: center;
}