h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color: red
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    color: rgb(55, 55, 236)
}

p4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    color: rebeccapurple
}