@charset "UTF-8";

:root {
  /*Colors*/
  --color-red: red;
  --color-orange: orange;
  --color-green: green;
  --color-blue: blue;
  --color-purple: purple;
  --color-black: #000;
  --color-white: #fff;

  /*Font*/
  --font-content: verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-content);
  font-size: 32px;
}

main {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article {
  margin-top: 50px;
}

h1,
h2,
h3,
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

.container {
  display: flex;
  max-width: 300px;
  padding: 0px;
  border: 5px solid var(--color-black);
  margin-top: 10px;
  margin-bottom: 15px;
}
.container_wrap {
  flex-wrap: nowrap;
}

.container_column {
  flex-flow: column wrap;
  margin-bottom: 110px;
  max-height: 350px;
}

#flex_direction_row {
  flex-direction: row;
}
#flex_direction_row_reverse {
  flex-direction: row-reverse;
}
#flex_direction_column {
  flex-direction: column;
}
#flex_direction_column_reverse {
  flex-direction: column-reverse;
}

#flex_wrap_nowrap {
  flex-wrap: nowrap;
}

#flex_wrap_wrap {
  flex-wrap: wrap;
}
#flex_wrap_wrap_reverse {
  flex-wrap: wrap-reverse;
}

.box {
  min-width: 40px;
  height: 40px;
  text-align: center;
  color: var(--color-white);
}

.box_wrap {
  width: 60px;
}

#box1 {
  background-color: var(--color-red);
}
#box2 {
  background-color: var(--color-orange);
}
#box3 {
  background-color: var(--color-green);
}
#box4 {
  background-color: var(--color-blue);
}
#box5 {
  background-color: var(--color-purple);
}

#box6 {
  background-color: var(--color-red);
}
#box7 {
  background-color: var(--color-orange);
}
#box8 {
  background-color: var(--color-green);
}
#box9 {
  background-color: var(--color-blue);
}
#box10 {
  background-color: var(--color-purple);
}

/*Align itens in the main axi*/

.container_align {
  width: 600px;
  justify-content: flex-start;
}

.container_align_column {
  width: 200px;
  height: 300px;
  justify-content: flex-start;
}

.align_flex_end {
  justify-content: flex-end;
}

.align_center {
  justify-content: center;
}

.align_space_between {
  justify-content: space-between;
}
.align_space_around {
  justify-content: space-around;
}

.box_aligned_column {
  width: 40px;
  height: 80px;
}

/*Alinhando itens no eixo transversal(y)*/
.container_align_items {
  height: 200px;
  align-items: flex-start;
}

.containerflex_start {
  align-items: flex-start;
}

.containerflex_end {
  align-items: flex-end;
}

.containercenter {
  align-items: center;
}
.containerbaseline {
  align-items: baseline;
}

.containerstretch {
  align-items: stretch;
}

.box_stretched {
  max-height: 100%;
  width: 40px;
  color: var(--color-white);
}

/*Align a specify item in the cross axis*/
.container_align_items_self {
  height: 200px;
  align-items: stretch;
}

.box_align_self_start {
  align-self: flex-start;
}

.box_align_self_end {
  align-self: flex-end;
}

.box_align_self_center {
  align-self: center;
}
.box_align_self_baseline {
  align-self: baseline;
}

.box_align_self_stretch {
  align-self: stretch;
}

/*Alinhamento em multiplas linhas*/
.container_multilines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  height: 200px;
  align-items: flex-start;
}

.align_content_flex_start {
  align-content: flex-start;
}

.align_content_flex_end {
  align-content: flex-end;
}

.align_content_center {
  align-content: center;
}

.align_content_space_between {
  align-content: space-between;
}
.align_content_space_around {
  align-content: space-around;
}

.align_content_stretch {
  align-content: stretch;
}

.box_multilines {
  width: 25%;
  text-align: center;
  color: var(--color-white);
}
