* {
  font-family: "Courier New", Courier, monospace;
}
header {
  display: none;
}

main {
  width: 100vw;
  padding-top: 0px;
}

/*Seccoes que devem ser ocultadas na impressao*/
.exemplo_imagem {
  display: none;
}

.exemplo_audio {
  display: none;
}

.exemplo_video {
  display: none;
}

footer {
  display: none;
}
