@charset "UTF-8";
/*Fonte externa*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@300;400;500;700;800;900&display=swap");
/*Fonte interna*/
@font-face {
  font-family: "Android";
  src: url("fontes/idroid.otf") format("opentype");
  font-weight: normal; /*Peso da fonte*/
}

/*Configuracoes globais*/
* {
  margin: 0px;
  padding: 0px;
}

:root {
  /*Declaracao de variaveis*/

  /*Cores*/
  --color-white: #fff;
  --color-verde: #3ddc84; /*Principal*/
  --color-verde-escuro-20: #31b06a;
  --color-azul-escuro: #0b132b;
  --color-azul-claro: #a4bef368;
  --color-azul-palido: #e3f2fd;
  --color-cinza: #686963;
  --color-cinza-escuro-30: #494a45;
  --color-cinza-claro-80: #e1e1e0;
  --color-orange: #f98561;

  /*Fontes*/
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  background-color: var(--color-azul-claro);
  font-family: var(--font-padrao);
}

header,
nav {
  display: flex;
}

#header {
  flex-direction: column;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-verde);
  min-width: 300px;
  max-height: 220px;
  padding-top: 20px;
}

#h1_header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.218);
}

header > p {
  font-family: var(--font-padrao);
  font-size: 1.2em;
  padding: 0px 10px 10px 5px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  max-width: 430px; /*O paragrafo vira um bloco*/
  margin: auto;
}

/*Configuracoes gerais e para PC*/
#navigation_header {
  gap: 50px; /*Distancia entre os links do nav*/
  font-size: 20px;
  color: var(--color-white);
  background-color: var(--color-verde-escuro-20);
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
nav > a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: bold;
}
nav > a:hover {
  text-decoration: underline;
  transition: 0.1s;
  padding: 5px;
  background-color: var(--color-orange);
  border-radius: 6px;
}

.btn-icon-header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: var(--color-azul-escuro);
  cursor: pointer;
  display: none;
}

/*Verifica o tamanho da tela para activar o sidebar*/
/*Configurações do header para mobile*/
@media screen and (max-width: 750px) {
  .btn-icon-header {
    display: block;
  }
  #navigation_header {
    gap: 20px; /*Distancia entre os links do nav*/
    font-size: 18px;
    position: absolute;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 160px;
    padding: 16px;
    animation-duration: 0.6s;
    margin-left: -100vw; /*Oculta o side bar*/
  }
}

/*Movimenta o sidebar*/
@keyframes showSidebar {
  from {
    margin-left: -100vw; /*Sidebar oculto*/
  }
  to {
    margin-left: -1vw; /*Sidebar visivel*/
  }
}

main {
  background-color: var(--color-white);
  text-align: justify;
  padding: 0px 20px;
  min-width: 280px; /*Largura minima para telefones pequenos*/
  max-width: 800px; /*Largura maxima para todos dispositivos*/
  margin: auto; /*Centraliza conteudo*/
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.15);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 25px;
}

main h1,
h2 {
  font-family: var(--fonte-android);
  color: var(--color-verde);
  padding-top: 10px;
  font-weight: normal;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 1.4em;
}

main strong {
  color: var(--color-azul-escuro);
}
main a {
  text-decoration: none;
}

main a:hover {
  color: var(--color-verde);
  text-decoration: underline;
}

img {
  padding-top: 10px;
  padding-bottom: 5px;
  display: block; /*Torna a imagem um bloco para poder centralizar*/
  margin: auto;
}

#img-pequena {
  max-width: 300px; /*Tamanho maximo da imagem;*/
}
/*
.video {
  background-color: var(--color-orange);
  margin: 0px -20px 30px;
  padding: 20px;
  padding-bottom: 60%;
  position: relative;
}*/

.video > iframe {
  /*position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;*/
  display: block;
  margin: 1em auto;
  width: 100%;
  /*Use 0.5625 para videos de 16:9 e  0.75 para ecras 4:3. para econtrar essas fracoes divida altura pelo comprimento do video*/
  height: calc(0.5625 * 100vw);
  min-width: 256px;
  min-height: 144px;
  max-width: 1290px;
  max-height: 1080px;
}

a.externo::after {
  content: "\00A0\1f517";
}

aside {
  padding-bottom: 20px;
}

#article-aside {
  background-color: var(--color-cinza-claro-80);
  padding: 10px;
  border-radius: 10px;
}

#article-aside > h1 {
  font-family: var(--font-padrao);
  color: var(--color-white);
  padding: 10px;
  background-color: var(--color-cinza-escuro-30);
  margin: -10px -10px 0px -10px;
}

#article-aside ul {
  list-style-type: "\2714\00A0"; /*Muda o simbolo da lista NB: o 00A0 serve para dar espaçamento*/
  list-style-position: inside;
  columns: 2;
}

footer {
  text-align: center;
  padding: 0 10%;
  background-color: var(--color-verde-escuro-20);
  margin: auto;
}

footer p {
  color: var(--color-white);
  padding-bottom: 20px;
  font-weight: bold;
}

#image-container {
  display: flex;
  justify-content: center; /*Centraliza as imagens*/
  align-items: center;
  padding: 10px;
}

#image-container a {
  margin-right: 25px;
}

/*Faz zoom nas imagens ao passar o mouse*/
.zoomable-image {
  transition: transform 0.2s ease; /*Adiciona transicao suave*/
}
.zoomable-image:hover {
  transform: scale(1.2); /*Aumenta o tamanho da imagem*/
}
