






.video{
display:block;
margin: 1em auto;
width:100%;
height:cal(1.7822*100vw);
max-width:202px;
max-height:360px;

}


footer > p {
  text-align: center;
  font-weight: lighter;
  border: 10px 10px 10px #272838;
  border-radius: 20px;
  background-color: #f0426b43;
}
#menu {
  text-align: center;
}
