body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    background-image: linear-gradient(#06d6a0, #073b4c);


}

main {
    background-color: white;
    width: auto;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
}

#principal {
    color: #ffd166;
    text-align: center;
}

h1 {
    color: #ef476f;
}

h2 {
    color: #06d6a0;
}

h3 {
    color: #118ab2;
}

h4 {
    color: #073b4c;
}

p {}

#menu {
    text-align: center;
}