/*configuracoes globais das CSS*/
*{height:100%;}

body {
    font-family: Arial, Helvetica, sans-serif;
   /* background-color:rgb(151, 151, 244);*/
        background-image:linear-gradient(to bottom,hsl(211, 58%, 73%) 40%,#F2DC5D 15%,#DB9065 15%,#F2A359);
        background-attachment: fixed;
 
}

p {
    text-align: justify;
}