:root {
  --centroX: 512/2;
}

.quadrado {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.416);
  margin: 0px 10px 10px 10px;
  /* background-image:no-repeat;*/
}

#quadrado1 {
  background-color: skyblue;
}

#quadrado2 {
  background-image: linear-gradient(to right, yellow, red);
}

#quadrado3 {
  background-image: url(imagens/pattern003.png);
}

#quadrado4 {
  background-image: url(imagens/pattern001.png);
}

#quadrado5 {
  background-image: url(imagens/pattern002.png);
}

#quadrado6 {
  background-image: url(imagens/pattern004.png);
}

.imagens_fundo {
  margin: auto;
  margin: 0px 10px 50px 10px;
  width: 90%;
}

#div_imagem_fundo1 {
  height: 512px;
  background-image: url("imagens/wallpaper002.jpg");
}

#div_imagem_fundo2 {
  height: 512px;
  background-image: url("imagens/Airplane_001.png");
  background-size: 128px;
  background-repeat: repeat-x;
}

#div_imagem_fundo3 {
  height: 512px;
  background-image: url("imagens/dvd-player.png");
  background-size: 128px 128px;
  background-repeat: space;
}

#div_imagem_fundo4 {
  height: 512px;
  background-image: url(imagens/iMindMap_9.png);
  background-size: 128px;
  background-position-x: center;
  background-repeat: repeat-y;
}

.div_posicao {
  height: 400px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  background-image: url(imagens/wallpaper003.jpg);
}

#posicao1 {
  background-position: left top;
}

#posicao2 {
  background-position: left center;
}

#posicao3 {
  background-position: right bottom;
}
#posicao4 {
  background-position: center center;
}
#posicao4 {
  height:512px;
  background-image:url(imagens/wallpaper005.jpg);
  background-position: center top;
}

#section_treino_posicionamento {
  height: 98vh;
  border: 2px dashed black;
  background-image: url(imagens/actor.png);
  background-size: 128px;
  background-repeat: no-repeat;
  background-position: center center;
}
