@charset "UTF-8";

body {
    background-image:linear-gradient(to left,#CD5334,#F8C630);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
main{background-color: white;
  width:auto;
  margin:40px;
  padding: 20px;
  border-radius:25px;
  box-shadow: 15px 15px 15px #CD5334;
  
}

#h1_principal{
color: #CD5334;  
}

h1 {
    
    color:#17BEBB;
}

h2 {
    color:#EDB88B;
}

h3{color:#2E282A;}

p {
    text-align: justify;
}

#menu {
    text-align: center;
}