@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap");

:root {
  /*Colors*/
  --color-brown: #783f27;
  --color-brown-dark-50: #3c2014;
  --color-orange: #dc6903;
  --color-orange-light: #f9ab33;
  --color-white: #fff;
  --color-white-smoked: #f6f4f3;
  --color-black: #000;
  --color-gray: #555;
  --color-gray-light-70: #cccccc;
  --color-green: #42a540;
  --color-green-dark-40: #358433;

  /*Fonts*/
  --font-title: "Stint Ultra Expanded", cursive;
  --font-header: verdana, Geneva, Tahoma, sans-serif;
  --font-content: Georgia, serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-content);
  font-size: 16px;
}

html,
body {
  height: 100vh;
  overflow: auto; /*make to print only the pages that have content*/
}

header {
  width: 100vw;

  /*Fix the header on the page*/
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--color-brown);
}

#div_logo {
  padding-top: 20px;
  padding-bottom: 60px;
}

.btn_icon_header {
  border: none;
  background-color: transparent;
  color: var(--color-black);
  cursor: pointer;
}

.btn_icon_header:hover,
.btn_icon_header:active {
  color: var(--color-orange);
}

#image_logo {
  position: absolute;
  top: 20%;
  right: 25%;
  display: inline;
  height: 44px;
  cursor: pointer;
}

#image_award {
  position: absolute;
  right: 40%;
  top: 60%;
  display: block;
  max-width: 90px;
  cursor: pointer;
}

#navigation_header {
  position: absolute;
  top: 0;
  margin-left: -100vw;
  width: 180px;
  height: 100vh;
  background-color: var(--color-brown-dark-50);
  animation-duration: 0.5s;
}
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0vw;
  }
}

#background_breads {
  width: 100%;
  min-height: 280px;
  background-image: url(../imagens/croissants_banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#paragraph_breads {
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 580px;
  padding: 10px;
  font-family: var(--font-header);
  font-style: italic;
  font-size: 20px;
  color: var(--color-white);
}

ul {
  list-style: none;
}
.li_nav {
  max-width: 80px;
  margin: auto;
  padding-top: 25px;
}

.link_nav {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
}

.link_nav:hover,
.link_nav:active {
  color: var(--color-orange);
}

.image {
  max-width: 100%;
}

.image_floated {
  float: left;
  max-width: 128px;
  margin-right: 10px;
}

/*img[src*="imagens"]{width:16px;}*/

.paragraph {
  padding: 15px;
  line-height: 28.8px;
}

#main {
  max-width: 800px;
  margin: auto;
  margin-top: 65px;
  padding: 10px;
  background-color: var(--color-white);
  font-family: var(--font-title);
}

article {
  margin-bottom: 50px;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  border-top: 1px solid;
  border-left: 3px solid;
  padding-top: 5px;
  padding-left: 15px;
}

h3 {
  font-size: 24px;
}

.title {
  margin-bottom: 20px;
  clear: left;
  text-transform: uppercase;
  color: var(--color-orange);
}
#title_content {
  color: var(--color-gray);
}

.link_content {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-green);
}
.link_content:hover {
  text-decoration: underline;
  color: var(--color-green-dark-40);
}

.paragraph_link_floated {
  padding-top: 0px;
  clear: left;
}

#schedule_operating {
  max-width: 100vw;
  margin-top: 60px;
  padding-bottom: 40px;
  background-color: var(--color-gray-light-70);
}

#article_schedule {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  padding-left: 80px;
}

#title_schedule {
  border: none;
  padding-left: 0px;
}
.schedule {
  margin-bottom: 15px;
}

.day_of_week {
  color: var(--color-orange);
}

footer {
  max-width: 100vw;
  padding: 20px;
  background-color: var(--color-brown);
}

#list_social_network {
  text-align: center;
  margin-bottom: 10px;
}

.social_network {
  display: inline;
  margin-right: 35px;
}

#paragraph_footer {
  margin: auto;
  max-width: 500px;
  font-weight: 700;
  color: var(--color-white);
}

svg {
  color: var(--color-black);
}

svg:hover {
  color: var(--color-orange-light);
}

#link_footer {
  margin-left: 10px;
  color: var(--color-black);
  text-decoration: none;
}
#link_footer:hover {
  color: var(--color-orange);
}
