@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

:root {
  /*Cores*/
  --cor-preto: #000000;
  --cor-preto-claro-20: #333333;
  --cor-preto-transparente-40: rgba(0, 0, 0, 0.4);
  --cor-rosa: #ee4266;
  --cor-cinza: #a6b1e1;
  --cor-branco: #ffffff;

  /*Fontes*/
  --fonte-cabecalho: "Passion one", verdana, Geneva, Tahoma, sans-serif;
  --fonte-titulo: "Bebas Neue", sans-serif;
  --fonte-conteudo: "Sriracha", cursive, verdana, Geneva, Tahoma, sans-serif;
  --fonte-texto-inicial: verdana, Geneva, Tahoma, sans-serif;
}
body {
  font-family: var(--fonte-texto-inicial);
}
header,
nav {
  display: flex;
  align-items: center;
}
header {
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  padding: 20px 0px;
  background-color: var(--cor-preto);
  color: var(--cor-branco);

  /*Fixar o header na página*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#link_titulo {
  font-family: var(--fonte-cabecalho);
  font-size: 48px;
  color: var(--cor-branco);
  text-decoration: none;
  margin-left: 10%;
}
#link_titulo:hover {
  color: var(--cor-rosa);
}

nav {
  z-index: 2;
}

#ul_nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  list-style: none;
}

.link_nav {
  text-decoration: none;
  color: var(--cor-branco);
  font-weight: bold;
}

.link_nav:hover {
  color: var(--cor-rosa);
  background-color: var(--cor-preto-claro-20);
  padding: 10px;
  border-radius: 15px;
}

.btn_icon_header {
  margin-left: 1%;
  background-color: var(--cor-rosa);
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 750px) {
  .btn_icon_header {
    display: block;
  }
  #link_titulo {
    margin: auto;
  }

  #navigation_header {
    position: absolute;
    top: 0;
    width: 180px;
    height: 100vh;
    flex-direction: column;
    background-color: var(--cor-rosa);
    animation-duration: 1s;
    margin-left: -100vw;
  }

  #ul_nav {
    width: 180px;
    flex-direction: column;
    margin-top: 0px;
  }

  .li_nav {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .link_nav:hover {
    background-color: var(--cor-preto-claro-20);
  }

  .paragrafo {
    font-size: 20px;
  }

  #titulo {
    font-size: 38px;
  }

  .subtitulo {
    font-size: 32px;
  }
}

/*Movimenta o sidebar*/
@keyframes showSidebar {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0vw;
  }
}

#main {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  padding: 10px;
  font-family: var(--fonte-titulo);
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 34px;
}

#article_principal {
  max-width: 1000px;
  margin: auto;
}

.article_cordel {
  padding-top: 90px;
}
p {
  font-size: 26px;
  padding: 10px;
}

.paragrafo {
  font-family: var(--fonte-texto-inicial);
  text-align: justify;
}

.paragrafo_cordel_normal {
  padding-left: 30px;
  font-family: var(--fonte-conteudo);
}
.paragrafo_imagem_fundo {
  max-width: 325px;
  max-height: 490px;
  margin-left: 10px;
  margin-top: 20px;
  padding-top: 20px;
  background-color: var(--cor-preto-transparente-40);
  color: var(--cor-branco);
}

.paragrafo_fundo {
  max-width: 435px;
  color: var(--cor-branco);
}
#paragrafo_footer {
  font-size: 18px;
}
article {
  margin-top: 80px;
  margin-bottom: 80px;
}

.estrofe_normal {
  margin-top: 60px;
  margin-bottom: 60px;
}

.imagem_fundo {
  width: 96%;
  height: 500px;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2%;
}
#estrofe_imagem_joaninha {
  background-image: url(imagens/background0001.jpg);
}
#estrofe_imagem_carta {
  background-image: url(imagens/background0002.jpg);
}

.link_autor_cordel {
  font-family: var(--fonte-texto-inicial);
  font-weight: bold;
  text-decoration: none;
  color: var(--cor-preto);
}
.link_autor_cordel:hover {
  color: var(--cor-rosa);
}

#estrofe_crianca_sorrindo {
  background-image: url(imagens/crianca_sorrindo.jpg);
  background-position: center center;
}

#estrofe_crianca_agradecendo {
  background-image: url(imagens/crianca_agradecendo.jpg);
  background-position: right top;
  background-attachment: scroll;
  margin-bottom: 10px;
}

footer {
  max-width: 100vw;
  min-height: 40px;
  margin-top: 140px;
  padding: 20px 10%;
  background-color: var(--cor-preto);
  text-align: center;
}
#paragrafo_footer {
  color: var(--cor-branco);
  max-width: 500px;
  margin: auto;
}

svg {
  color: var(--cor-cinza);
}

svg:hover {
  color: var(--cor-branco);
}

#link_footer {
  text-decoration: none;
  color: var(--cor-rosa);
  font-weight: bold;
}

#link_footer:hover {
  text-decoration: underline;
  color: var(--cor-branco);
}

#ul_footer {
  list-style: none;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
