@charset "UTF-8";
/*Fonte externa*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@300;400;500;700;800;900&display=swap");
/*Fonte interna*/
@font-face {
  font-family: "Android";
  src: url("fontes/idroid.otf") format("opentype");
  font-weight: normal; /*Peso da fonte*/
}

/*Configuracoes globais*/
* {
  margin: 0px;
  padding: 0px;
}

:root {
  /*Declaracao de variaveis*/

  /*Cores*/
  --verde: #3ddc84; /*Principal*/
  --azul-escuro: #0b132b; /*Secundaria*/
  --azul-claro: #a4bef368; /*Assento*/
  --azul-palido: #e3f2fd; /*Fundo*/
  --cinza: #686963; /*fundo*/
  --red-imperial: #f71735;

  /*Fontes*/
  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  background-color: var(--azul-claro);
  font-family: var(--font-padrao);
}

header {
  color: white;
  background-color: var(--verde);
  text-align: center;
}

header > h1 {
  font-family: var(--fonte-destaque);
}

header > p {
}

nav > a {
  color: white;
  text-decoration: none;
}
nav > a:hover {
  color: var(--red-imperial);
  /*var(--azul-escuro);*/
  text-decoration: underline;
}

main {
  text-align: justify;
  padding: 0px 20px;
  min-width: 280px; /*Largura minima para telefones pequenos*/
  max-width: 800px; /*Largura maxima para todos dispositivos*/
  margin: auto;/*Centraliza conteudo*/
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.11);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 25px;
}

main h1,
h2 {
  font-family: var(--fonte-android);
  color: var(--verde);
  padding-top: 10px;
  padding-bottom: 5px;
}

img {
  padding-top: 10px;
  padding-bottom: 5px;
  display: block; /*Torna a imagem um bloco para poder centralizar*/
  margin: auto;
}

#img-pequena {
  width: 50%;
}

#video_android {
  padding-top: 15px;
}

aside > h1 {
  font-family: var(--font-padrao);
  color: black;
}
