body {
    background-color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-image:linear-gradient(to left,#3A0CA3,#4361EE);
  
}

main{
  background-color:white;
  margin:40px;
  border-radius: 25px;
  padding:20px;
  width:auto;
  
}

h1 {
  color:#F72585;
  text-align:center;
    
}

h2 {
    color:#4CC9F0;
}

h3 {color:#7209B7;
    }
    h4{color:#4361EE;}


p {text-align:'justify';
    
}

li {
    
}